<div class="jumbotron">
  <h1>TinyApp Project</h1>
  <% if (!user) { %>
  <button type="button" class="btn btn-outline-primary">
    <a href = "/register/"> Register </a>
  </button>
  <button type="button" class="btn btn-outline-primary">
    <a href = "/login/"> Login </a>
  </button>

  <% } else { %>
  <h6> Email: <%= user.email %> </h6>
  <button type="button" class="btn btn-outline-primary">
    <a href = "/logout/"> Logout </a>
  </button>
  <%}%>


</div>

