<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/_header.ejs %>
    </header>

    <div class = "container" style= "text-align: center;">
      <h6><a href = "/urls/"> Back </a></h6>
      <h2> Shortened URL does not exist </h2>
    </div>
  </body>

</html>