<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/_header.ejs %>
    </header>

    <div style= "margin-left: 25px">
      <form method="POST" action= "/login">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
      </form>
    </div>

  </body>

</html>