<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/_header.ejs %>
    </header>

    <div class = "container">
      <h6 style="color: red; background: pink">Please Login First!</h6>

    </div>

  </body>
</html>