<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>



  <body>
    <header>
      <% include ./partials/_header.ejs %>
    </header>

    <div style= "margin-left: 25px">
      <h6><a href= "/urls/"> Back </a></h6>
      <form action="/urls" method="POST" style="margin:100px;>
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
        <% if (errors.emptyURL === 1) {%>
        <h6 style="color: red; background: pink">Please enter a URL!</h6>
        <%}%>

      </form>
    </div>
  </body>

</html>